# Sanal ortam
venv/
.env/
ENV/
env/

# Python cache dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd

# Platform bağımlı dosyalar
*.dll
*.so
*.dylib
*.lib
*.exe

# IDE / Editor dosyaları
.vscode/
.idea/

# Geçici dosyalar
*.log
*.tmp

# Veri dosyaları (opsiyonel)
*.csv
*.tsv
*.json
*.pkl

# PyTorch / TorchScript modelleri
*.pt
*.pth

# Hugging Face / Transformers modelleri
*.bin
*.safetensors

# TensorFlow modelleri
*.pb
*.h5

# Diğer büyük model dosyaları
*.onnx
*.tflite
